html, body, :root {
    height: 100%;
}

:root{
  background-color: #3A3A3C;
}

#search-button{
  background-color: #dddddd;
  border: 5px solid #333333;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  width: 12.5%;
  height: 35px;
}

img {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}

.flex-container{
  
  color: whitesmoke;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.pixel-result{
  margin: 1em;
}

.artwork{
  text-align: center;
}
.zoom-buttons{
  text-align: center;
}