html, body, :root {
    height: 100%;
}

:root{
  background-color: #3A3A3C;
}

#search-button{
  background-color: #dddddd;
  border: 5px solid #333333;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  width: 12.5%;
  height: 35px;
}

img {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
  vertical-align: middle;
}


.grid-container{
  justify-content: center;   
  display: grid;
  grid-template-columns: repeat(auto-fill, 128px);
  gap: 10px;
  grid-auto-flow: dense;
  
}

.fit{
  object-fit: none;
}

.art-grid{
  background-color: #464646;
  text-align: center;
  
  display: inline;
  height:100%;
  min-height: 128px;
}


.grid-w2{
  grid-column-start: span 2;
}

.grid-h2{
  grid-row-end: span 2;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.search-container{
  display: inline-block;
  margin: 0 1em;
}

.search-element{
  text-align: right;
  margin: 0.3em;
}

.top-bar{
  padding: 16px;
  background-color: #999999;
}



.artwork{
  text-align: center;
}
.zoom-buttons{
  text-align: center;
}