#colorsearch{
    padding: 16px;
    background-color: #999999;
}

#palette{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.button-large{
    background-color: #dddddd;
    border: 2px solid #333333;
    text-align: center;
    text-decoration: none;
    outline:none;
    cursor: pointer;
    width: 225px;
    margin-right: 1em;
    height: 38px;
}

#swatch {
    cursor: pointer;
    width: 225px;
}

.color {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 38px;
    .remove-color::after{
        display: inline-block;
        content: "\2716";
        margin-right: 16px;
    }
}

#popover {
    position: absolute;
    z-index: 2;
}

#cover{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.color-search-container{
    display: flex;
    flex-wrap: wrap;
}

