#colorsearch{
    padding: 16px;
    background-color: #999999;
}

#palette{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.button-large{
    background-color: #dddddd;
    border: 5px solid #333333;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    width: 12.5%;
    margin-right: 1em;
    height: 38px;
}

#swatch {
    box-shadow: 0 0 0 1px rgba(0,0,0,.1);
    cursor: pointer;
    width: 12.5%;
}

.color {
    border-radius: 2px;
    height: 28px;
}
#popover {
    position: absolute;
    z-index: 2;
}

#cover{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.color-search-container{
    display: flex;
    flex-wrap: wrap;
}