@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

.vertical-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-space:before{
  content: "\00a0 ";
}

a {
  color: rgb(59, 59, 59);
}

a:hover {
  color: black;
}

h2 {
  margin-top: 0;
}

.color-flex{
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.5em;
}

.color-swatch{
  width: 40%;
}

.color-example{
  width: 100%;
  height: 4em;
}

.color-wrapper{
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  align-content: flex-start;
}

.color-tile{
  font-family: 'PT Mono', monospace;
  font-size: 12px;
  text-transform: uppercase;
  
  margin: 0 10px 10px 0;
  width: 2.5em;
  height: 2.5em;

}

.hover-visible{
  width: 100%;
  height: 100%;
}

.hover-visible:hover{
  outline: 2px solid rgb(255, 255, 255);
}


.select{
  outline: 4px solid rgb(0, 0, 0);
}

.select.hover-visible:hover{
  outline: 4px solid rgb(0, 0, 0) ;
}


.detail-view{
  background-color: rgb(139, 139, 139);
  width:100%;
}

.detail-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}

.image-large{
  flex-basis: 50%;
  flex-grow: 1;
  text-align: center;
  align-self: stretch;
}



.image-metadata{
  flex-basis: 47%;
  flex-grow: 1;
  max-width: 70%;
  margin-right: 3%;
  position: relative;
}

.palette-bar-item{
  height: 2em;
  display: inline-block;
}


.detail-top-bar a{
  text-decoration: none;
}

.pj-bar svg{
  position: relative;
  top: 2px;
}

.return-bar svg{
  position: relative;
  top: 1px;
}


.detail-top-bar{
  font-weight: bold;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.return-bar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}


.return-sub{
  display:inline-flex;
}


.select-all{
  float: right;
  text-align: right;
}

.detail-img{
  margin-top: 1em;
}
