@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

.vertical-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-space:before{
  content: "\00a0 ";
}

a {
  color: rgb(59, 59, 59);
}

a:hover {
  color: black;
}

h2 {
  margin-top: 0;
}

.color-wrapper{
  display: flex;
  flex-wrap: wrap;
}

.color-tile{
  font-family: 'PT Mono', monospace;
  font-size: 12px;
  text-transform: uppercase;
  
  margin: 5px 10px 5px 0;
  
  line-height: 22px;
  vertical-align: middle;
}


.hover-visible{
  background: inherit;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  filter: invert(1) grayscale(1) contrast(20) ;
  opacity: 0;
  padding: 2px 8px;
}

.hover-visible:hover{
  opacity: 1;
  padding: 2px 8px;
}

.detail-view{
  background-color: rgb(139, 139, 139);
  width:100%;
}

.detail-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-large{
  flex-basis: 50%;
  flex-grow: 1;
  text-align: center;
  align-self: center;
}

.image-metadata{
  flex-basis: 47%;
  flex-grow: 1;
  max-width: 70%;
  margin-right: 3%;
  position: relative;
}

.palette-bar-item{
  height: 2em;
  display: inline-block;
}


.detail-top-bar a{
  text-decoration: none;
}

.pj-bar svg{
  position: relative;
  top: 2px;
}

.return-bar svg{
  position: relative;
  top: 1px;
}


.detail-top-bar{
  font-weight: bold;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.return-bar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}


.return-sub{
  display:inline-flex;
}


.select-all{
  float: right;
  text-align: right;
}

.select{
  border: 4px solid rgba(255,255,255,1);
  position: relative;
  outline: 2px solid rgb(0, 0, 0);
}

.deselect{
  border: 4px solid rgba(255,255,255,0);
}

.alert{
  position: fixed;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  color: whitesmoke;
}
